<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Istniejemy nieprzerwanie od 1989 roku.</h2>
        <p class="lead">Początkowo jako mała firma rodzinna realizowaliśmy drobne prace remontowe. Obecnie, po latach rozwoju, realizujemy "pod klucz" budynki użyteczności publicznej, domy mieszkalne jednorodzinne i wielorodzinne.</p>
        <p>Znaczącą część dotychczasowego dorobku stanowią zrealizowane remonty w obiektach. Wykonujemy remonty bieżące i kapitalne budynków z instalacjami sanitarnymi i elektrycznymi włącznie. Wykonujemy roboty dociepleniowe i elewacyjne, remonty konstrukcji dachów oraz pokryć dachowych z papy, dachówki i blachy. Do zrealizowanych zadań zabezpieczamy kadrę techniczą, a na życzenie także wykwalifikowany nadzór.</p>
        <p>Staramy się oferować usługi kompleksowo, minimalizując trudności wynikające z organizacji procesu budowlanego. Terminowość i zgodność z projektem i sztuką budowlaną naszych usług stawiamy zawsze na pierwszym miejscu.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
